# fly.toml app configuration file generated for lam-bot on 2026-01-01T08:07:31Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'lam-bot'
primary_region = 'lax'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 2

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
